.background {
  height: 100%;
  background-color: rgb(180, 180, 180) !important;
}
.coba {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panjang {
  width: 400px;
}

.login {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
